radius-size = 5px
$fd_background_active = #6ff76f
$fd_background = #20a0ff
$fd_font_active = #ff7400
$fd_button_height = 2rem
$fd_input_height = 3rem
$fd_left_width = 200px

.main_header
  margin 0 0 20px 20px
  .chart
    display inline-block
    width 30%
    min-width 500px
    height 400px

