radius-size = 5px
$fd_background_active = #6ff76f
$fd_background = #20a0ff
$fd_font_active = #ff7400
$fd_button_height = 2rem
$fd_input_height = 3rem
$fd_left_width = 200px
/*
body
  background-color lighten($fd_background,90%)
*/
.middle
  float left
  width 100%
  position relative
  overflow hidden

.middle_main
  float left
  width 100%
  position relative
  left $fd_left_width

.fd_left,.fd_main
  min-height 200px
  height auto !important
  height 200px

.fd_left
  width $fd_left_width
  float left
  position relative
  margin-left - $fd_left_width

.fd_main
  position relative
  margin-right $fd_left_width




