/*
body
  background-color lighten($fd_background,90%)
*/
.middle {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.middle_main {
  float: left;
  width: 100%;
  position: relative;
  left: 200px;
}
.fd_left,
.fd_main {
  min-height: 200px;
  height: auto !important;
  height: 200px;
}
.fd_left {
  width: 200px;
  float: left;
  position: relative;
  margin-left: -200px;
}
.fd_main {
  position: relative;
  margin-right: 200px;
}
