//导航栏高度
$fd_footer_nav_height = 39px
//导航栏背景色
$fd_footer_nav_background_color = #00ee00
//导航栏字体色
$fd_footer_nav_font_color = #fff
//导航栏选中状态字体色
$fd_footer_nav_font_active_color = #ff7400
//导航栏选中状态背景色
$fd_footer_nav_font_active_background = #6ff76f
//导航栏数字标记大小
$fd_footer_nav_num_height = 20px

#fd_footer
  .fd_footer_nav_main
    position fixed
    bottom 0
    width 100%
    height $fd_footer_nav_height
    font-size 0
    background-color $fd_footer_nav_background_color
  .fd_footer_fill
    height $fd_footer_nav_height

.fd_footer_nav_main
  a
    color $fd_footer_nav_font_color
  li
    display inline-block
    font-size 1.2rem
    width 25%
    text-align center
    box-sizing border-box
    border-left 1px solid #f76fbc
    &:first-child
      border-left none
  .fd_footer_nav_icon,.icon
    font-size 2rem
  .active
    color $fd_footer_nav_font_active_color
  .fd_footer_nav_box
    position relative
  .fd_footer_nav_num
    position absolute
    top -7px
    left 58%
    height $fd_footer_nav_num_height
    line-height $fd_footer_nav_num_height
    width $fd_footer_nav_num_height
    border-radius 50%
    font-size 1.6rem
    color #fff
    background-color $fd_footer_nav_font_active_color

.active
  .fd_footer_nav_box
    background-color $fd_footer_nav_font_active_background
