.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-bottom: 0;
  width: 45%;
}
.fd_pagination {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}
.fd_pagination .fd_demonstration,
.fd_pagination .el-pagination {
  float: right;
}
.fd_pagination .fd_demonstration {
  line-height: 32px;
}
.down_file {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
